.elv-control {
  .e-control {
    &__input {
      position: absolute;
      opacity: 0;
      left: 2px;

      &:checked ~ .e-control__checkmark {
        display: block;
        border-color: $primary;

        &:after {
          display: block;
        }
      }
    }

    &__checkmark {
      border: 1px solid $grey-dark;

      &:hover {
        border-color: $primary;
      }

      &:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary;
      }
    }

    &--sm {
      .label-text {
        font-size: 14px;
        margin-left: 10px;
      }

      .e-control__checkmark {
        height: 16px;
        width: 16px;
        min-width: 16px;
      }
    }

    &--md {
      .label-text {
        font-size: 16px;
        margin-left: 16px;
      }

      .e-control__checkmark {
        height: 1.25rem;
        width: 1.25rem;
        min-width: 1.25rem;
      }
    }

    &--lg {
      .label-text {
        font-size: 16px;
        margin-left: 24px;
      }

      .e-control__checkmark {
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
      }
    }

    &--disabled {
      .e-control__checkmark,
      .label-text {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    &--error {
      .e-checkbox__checkmark {
        border-color: $red !important;
      }
    }
  }
}
